/* old */

/* :root,
html[data-theme="light"] {
  --color-fill: 250, 252, 252;
  --color-text-base: 34, 46, 54;
  --color-accent: 211, 0, 106;
  --color-card: 234, 206, 219;
  --color-card-muted: 241, 186, 212;
  --color-border: 227, 169, 198;
}
html[data-theme="dark"] {
  --color-fill: 33, 39, 55;
  --color-text-base: 234, 237, 243;
  --color-accent: 158, 206, 106;
  --color-card: 52, 63, 96;
  --color-card-muted: 138, 51, 2;
  --color-border: 52, 63, 96;
}
#sun-svg,
html[data-theme="dark"] #moon-svg {
  display: none;
}
#moon-svg,
html[data-theme="dark"] #sun-svg {
  display: block;
} */
/* body {
  @apply flex min-h-screen flex-col bg-skin-fill font-mono text-skin-base
    selection:bg-skin-accent selection:bg-opacity-70 selection:text-skin-inverted;
}
svg {
  @apply inline-block h-6 w-6 fill-skin-base group-hover:fill-skin-accent;
}
svg.icon-tabler {
  @apply inline-block h-6 w-6 scale-125 fill-transparent
    stroke-skin-base stroke-2 opacity-90 hover:stroke-skin-accent
    group-hover:fill-transparent sm:scale-110;
} */
/* .prose {
  @apply prose-headings:!mb-3
    prose-h3:italic prose-p:!text-skin-base
    prose-a:!decoration-dashed prose-a:underline-offset-8
    hover:prose-a:text-skin-accent prose-blockquote:!border-l-skin-accent
    prose-blockquote:border-opacity-50 prose-blockquote:opacity-80
    prose-figcaption:!text-skin-base prose-figcaption:opacity-70
    prose-strong:!text-skin-base

    prose-code:rounded

    prose-code:bg-skin-card prose-code:bg-opacity-75
    prose-code:p-1 prose-code:!text-skin-base prose-code:before:!content-['']
    prose-code:after:!content-[''] prose-pre:!text-skin-base
    prose-ol:!text-skin-base prose-ul:overflow-x-clip
    prose-ul:!text-skin-base prose-li:marker:!text-skin-accent prose-table:text-skin-base
    prose-th:border prose-th:border-skin-line
    prose-td:border prose-td:border-skin-line
    prose-img:mx-auto prose-img:!mt-2
    prose-img:rounded-xl prose-img:border-0 prose-img:border-skin-line
    prose-img:bg-fwhite prose-hr:!border-skin-line;
}
.prose a {
  @apply text-skin-base hover:!text-skin-accent;
}
.prose thead th:first-child,
tbody td:first-child,
tfoot td:first-child {
  padding-left: 0.5714286em;
}
.prose h2#table-of-contents {
  @apply mb-2;
}
.prose details {
  @apply inline-block cursor-pointer select-none text-skin-base;
}
.prose summary {
  @apply focus-outline;
}
.prose h2#table-of-contents + p {
  @apply hidden;
} */

/* SHADCN */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --primary-background: 208, 87%, 3%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 207, 95%, 8%; // deep blue
    --foreground: 0 0% 98%; // white

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --primary-background: 208, 87%, 3%; // black blue

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 210, 22%, 48%;

    --accent: 26, 99%, 68%; // bright orange
    --accent-foreground: 174, 45%, 43%; // burnt orange

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }

  /* ===== scrollbar ===== */
  html {
    /* overflow-y: scroll; */
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-muted/50;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-muted;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-accent;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply flex h-dvh w-full items-center justify-center overflow-hidden bg-primary-background font-mono;
  }

  main {
    @apply relative z-50 flex h-[calc(100dvh-4%)] w-[calc(100dvw-5%)] max-w-[1400px] flex-col overflow-hidden rounded-lg border bg-background backdrop-blur transition-all md:h-[calc(100dvh-6%)] md:w-[calc(100dvw-5%)];
  }

  section {
    @apply flex-1;
  }

  code {
    counter-reset: line;
  }

  code > [data-line]::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 1rem;
    margin-right: 2rem;
    text-align: right;
    color: gray;
  }

  code[data-line-numbers-max-digits="2"] > [data-line]::before {
    width: 2rem;
  }

  code[data-line-numbers-max-digits="3"] > [data-line]::before {
    width: 3rem;
  }

  html {
    scroll-behavior: smooth;
  }

  html.light {
    @apply bg-gray-100;
  }

  html.light [data-theme="dark"] {
    display: none;
  }

  html.dark [data-theme="light"] {
    display: none;
  }

  [data-radix-popper-content-wrapper] {
    border: 0;
  }
}
