---
import Header from "@components/Header.astro"
import { socials } from "@config/social"
import Layout from "../layouts/Layout.astro"

const title = "About"

const socialCount = socials.filter(social => social.active).length
---

<Layout title="about">
  <Header activeNav="about" />
  <section class="grid h-full grid-cols-12 overflow-hidden">
    <aside class="hidden overflow-y-auto md:col-span-3 md:block lg:col-span-2">
    </aside>
    <section
      class="relative col-span-12 h-[84dvh] overflow-y-auto md:col-span-9 md:h-auto lg:col-span-10"
    >
      <div class="my-auto">
        <article
          class="min-w-full space-y-10 p-5 text-lg text-muted-foreground"
          id="about"
        >
          <h1
            class="tracking-widertext-3xl my-10 font-medium text-foreground sm:text-4xl md:text-6xl"
          >
            {title}
          </h1>
          <p class="max-w-prose">
            My names Dan, I'm a polyglot <b class="text-green"
              >Software Engineer</b
            > with a passion for music, parkour, skateboarding, bouldering and anything
            creative or challenging.
          </p>
          <p class="max-w-prose">
            At the moment, I'm working on a number of projects professionally
            and personally, mostly using Typescript and Go. If you're curious,
            feel free to explore my <a
              href="/posts"
              class="font-semibold text-skin-base decoration-2 underline-offset-4 hover:underline"
              >blog</a
            > and check out the <a
              href="/projects"
              class="font-semibold text-skin-base decoration-2 underline-offset-4 hover:underline"
              >projects</a
            > I've been working on.
          </p>
          <!-- {
            socialCount > 0 && (
              <div class="social-wrapper">
                <Socials />
              </div>
            )
          } -->
        </article>
      </div>
    </section>
  </section>
</Layout>
