<section class="mx-0 my-8 px-0">
  <h2 class="text-2xl font-semibold text-skin-accent">Comments</h2>
  <giscus-widget
    id="comments"
    repo="KyteProject/omux.dev-comments"
    repoid="R_kgDOJw7lVQ"
    category="General"
    categoryid="DIC_kwDOJw7lVc4CXS73"
    mapping="pathname"
    reactionsenabled="1"
    emitmetadata="0"
    inputposition="bottom"
    theme="transparent_dark"
    lang="en"
    loading="eager"></giscus-widget>
</section>

<script>
  import "giscus"
</script>
