---
import Container from "@components/Container.astro"
import { site } from "@config/config"
import { footer } from "@config/menu"
import BackToTop from "@components/BackToTop.astro"
import { Button } from "./ui/button"
import { cn } from "@lib/utils"
---

<footer
  class="relative px-8 py-20 bg-grid-small-black/[0.1] dark:bg-grid-small-white/[0.1]"
>
  <Container>
    <div class="text-center font-semibold tracking-wide text-muted-foreground">
      <div class="mb-8">
        <div class="relative">
          <div class="absolute -top-16 right-0">
            <BackToTop />
          </div>
        </div>
      </div>
    </div>
    <div class="mt-6 flex flex-wrap items-center justify-between gap-y-2">
      &copy; {new Date().getFullYear()} / {site.owner}
      {
        footer && (
          <nav class="hidden flex-col items-center gap-2 text-lg font-medium md:flex md:flex-row md:gap-2 md:text-sm lg:gap-2">
            {footer.map((item, index) => (
              <>
                <Button
                  variant="link"
                  className={cn(
                    "px-0 text-muted-foreground transition-colors duration-300 hover:text-primary"
                  )}
                  key={item.href}
                >
                  <a href={item.href}>{item.name}</a>
                </Button>
                {index < footer.length - 1 && <span> / </span>}
              </>
            ))}
          </nav>
        )
      }
    </div>
  </Container>
  <div
    class="pointer-events-none absolute inset-0 flex items-center justify-center bg-background [mask-image:linear-gradient(to_top,transparent_50%,black)]"
  >
  </div>
</footer>
