---
import ProjectCard from "./ProjectCard.astro"
import { Project } from "../data"

export interface Props {
  projects: Project[]
  heading: string
}

const { projects, heading } = Astro.props
---

<section class="my-6">
  <h2 class="border-b-2 border-b-black text-3xl font-bold text-green">
    {heading}
  </h2>
  <div class="mt-6 grid gap-5 md:grid-cols-2 xl:grid-cols-3"></div>
</section>
